# Build Files
__pycache__
! core/*
build
dist
*.spec

# Design Files
rpc_ico
ico_design
design sample
img_for_github

# For Web
latest
adoberpc_ver.json

# Etc
installer
temp
log.log
updater.log
monitor.log
*/._*.*